body{
    background-color: #4FC1E9;
    font-family: "Helvetica Neue";
}

form{
    display: inline-block;
    text-align: left;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

div.form{
    display: block;
    text-align: center;
}

#codeBox{
    max-width: 100%;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    height: 2.5rem;
    width: 7.5rem;
    padding: 0.625rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: none;
    border-style: none;
    color: #4FC1E9;
    margin-right: 0rem;
    float: left;
    -webkit-appearance: none;
}

#codeBox:focus, input:focus{
    outline: none;
}

#submitCode{
    font-family: FontAwesome;
    text-align: right;
    padding-right: 0.625rem;
    float: left;
    color: #4FC1E9;
    font-size: 2.5rem;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    border-style: none;
    background-color: #ffffff;
    margin-left: 0rem;
    -webkit-appearance: none;
}

#submitCode:hover{
    color: rgba(84, 215, 255, 0.78);
}

#submitCode:active{
    color: rgb(65, 167, 197);
}