body{
    background-color: #4FC1E9;
    font-family: "Helvetica Neue";
}

form{
    display: inline-block;
    text-align: left;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

div.form{
    display: block;
    text-align: center;
}

#codeBox{
    border-radius: 50px 0px 0px 50px;
    height: 40px;
    width: 120px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: none;
    border-style: none;
    color: #4FC1E9;
    margin-right: 0px;
    float: left;
}

#codeBox:focus, input:focus{
    outline: none;
}

#submitCode{
    font-family: FontAwesome;
    text-align: right;
    padding-right: 10px;
    float: left;
    color: #4FC1E9;
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 0px 50px 50px 0px;
    border-style: none;
    background-color: #ffffff;
    margin-left: 0px;
}

#submitCode:hover{
    color: rgba(84, 215, 255, 0.78);
}

#submitCode:active{
    color: rgb(65, 167, 197);
}