#placings {
    -fx-control-inner-background: #2a2a2a;
    -fx-font-family: 'helvetica';
    -fx-font-size: 16px;
    -fx-text-fill: White;
    -fx-focus-color: transparent;
}

.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0.6;
    -fx-box-border: transparent;
}

#settingsPane {
    -fx-background-color: #2b2b2b;
}

#annotation{
    -fx-font-family: 'helvetica';
}

#boundary{
    -fx-fill: rgb(136, 230, 239);
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 10, 0.4, 0, 0);
    -fx-stroke: rgb(64, 122, 151);
    -fx-opacity: 0.2;
}

.slider .thumb {
    -fx-background-color: #3b3b3b;
}

.slider .track{
    -fx-background-color: #1b1b1b;
    -fx-padding: 2.5;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #8e8e8e;
}

#lblAnnotation{
    -fx-font-family: 'helvetica';
    -fx-font-size: 14px;
    -fx-padding: 10 0 5 0 ;
}

#annotationsSlider{
    -fx-padding: 0 20 0 20;
}

#sliderLbl{
    -fx-font-family: 'helvetica';
    -fx-padding: 0 20 0 20;
}

#fpsToggle{
    -fx-font-family: 'helvetica';
    -fx-padding: 20 20 20 20;
}
