#placings {
    -fx-control-inner-background: #2a2a2a;
    -fx-background-color: #2a2a2a;
    -fx-font-family: 'helvetica';
    -fx-font-size: 16px;
    -fx-text-fill: White;
    -fx-focus-color: transparent;
    -fx-border-color: #1a1a1a;
}

#startersList{
    -fx-control-inner-background: #1a1a1a;
    -fx-font-family: 'helvetica';
    -fx-font-size: 17px;
    -fx-text-fill: White;
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0;
}

.titleLabel {
    -fx-background-color: #3c619b;
    -fx-font-family: 'helvetica';
    -fx-font-size: 27px;
    -fx-text-fill: White;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0.6;
    -fx-box-border: transparent;
}

#settingsPane {
    -fx-background-color: #2b2b2b;
}

#raceClockHBox {
    -fx-background-color: #2a2a2a;
}

#annotation{
    -fx-font-family: 'helvetica';
}

#boundary{
    -fx-fill: rgb(136, 230, 239);
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 10, 0.4, 0, 0);
    -fx-stroke: rgb(64, 122, 151);
    -fx-opacity: 0.2;
}

#wake{
    -fx-stroke: #eaf2ff;
    -fx-fill: rgb(132, 218, 255);
}

#mark{
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, #6db1b7, 10, 0.2, 0, 0);
    -fx-stroke: #cdfaf4;
    -fx-stroke-width: 2.0;
}

.slider .thumb {
    -fx-background-color: #3b3b3b;
}

.slider .track{
    -fx-background-color: #1b1b1b;
    -fx-padding: 2.5;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #8e8e8e;
}

#lblAnnotation{
    -fx-font-family: 'helvetica';
    -fx-font-size: 14px;
    -fx-padding: 10 0 5 0 ;
}

#annotationsSlider{
    -fx-padding: 0 20 0 20;
}

#sliderLbl{
    -fx-font-family: 'helvetica';
    -fx-padding: 0 20 0 20;
}

#fpsToggle{
    -fx-font-family: 'helvetica';
    -fx-padding: 20 20 20 20;
}
#fpsLabel{
    -fx-content-display: center;
    -fx-padding: 10 10 10 18;
    -fx-opacity: 0.8;
    -fx-font-family: 'helvetica';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 20px;
}

#fpsToggle{
    -fx-font-family: 'helvetica';
}

#fpsToggle *.box{
    -fx-background-color: #1a1a1a;
}

.scroll-bar{
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: #1a1a1a;
 -fx-background-insets: 6 0 6 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: #1a1a1a;
 -fx-background-insets: 0 6 0 6;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: #1f1f1f;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: #191919;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-background-color: transparent;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: transparent;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: transparent;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: transparent;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
