#windDirectionImage{
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 10, 0.1, 0, 0);
}

#boundary{
    -fx-fill: #88e6ef;
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 10, 0.4, 0, 0);
    -fx-stroke: #407a97;
    -fx-stroke-width: 0.5px;
    -fx-opacity: 0.2;
}

#mark{
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, #6db1b7, 10, 0.2, 0, 0);
    -fx-stroke: #cdfaf4;
    -fx-stroke-width: 2.0;
}

#userHelp{
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

#windArrow{
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
    -fx-stroke-width: 4px;
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 5, 0, 0, 3);
}

#nextMarkArrow{
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
    -fx-stroke-width: 5px;
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 5, 0, 0, 3);
}

#windCircle {
    -fx-stroke-width: 4px;
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 5, 0, 0, 3);
}

#nextMarkCircle {
    -fx-stroke-width: 5px;
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 5, 0, 0, 3);
}

#lblNextMark {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
    -fx-text-alignment: center;
}


#lblWindSpeed {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
}

#imvSpeedScale {
    -fx-effect: dropshadow(gaussian, rgb(109, 177, 183), 5, 0, 0, 0);
}