#headsUpDisplay{
    -fx-background-color: #2a2a2a;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, #383838, 10, 0, 0, 3);
}

#headsupDisplayLabel{
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-padding: 10 0 0 20
}