#headsUpDisplay{
    -fx-background-color: #2a2a2a;
    -fx-opacity: 0.7;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, #383838, 10, 0, 0, 3);
}

#headsupDisplayLabel{
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 25px;
    -fx-padding: 10 0 0 20;
}

#boatHealth{
    -fx-padding: 2 0 0 20;
}

#healthLabel{
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-padding: 10 0 0 20;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(#ff8171, #ff6c62);
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.40em;
}

.progress-bar {
    -fx-indeterminate-bar-length: 300;
}