#menuAnchor{
    -fx-effect: dropshadow(gaussian, #808080, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}

.button{
    -fx-font: 12px "Helvetica Neue Normal";
    -fx-text-fill: #FFFFFF;
    //-fx-padding: 10 40 10 40;
    -fx-background-color:  #8eb0b7;
    -fx-border-radius: 70;
    -fx-background-radius: 70;
}

.button:hover{
    -fx-background-color: #a4c4ca;
}

.button:pressed{
    -fx-background-color: #81a4ab;
}

#btnGrid{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}

#settingsGrid{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}


#liveGameGrid{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}

#practiceGrid{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}

#courseGrid{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}

#courseImage1, #courseImage2, #courseImage3, #courseImage4{
    -fx-effect: dropshadow(gaussian, #BEBEBE, 20, 0, 0, 0);
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
}

#txtIPAddress{

}

#txtPortNumber{
    -fx-font: 18px "Helvetica Neue Normal";
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #2a2a2a #2a2a2a #f4654b #2a2a2a;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#txtIPAddress{
    -fx-font: 18px "Helvetica Neue Normal";
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #2a2a2a #2a2a2a #f4654b #2a2a2a;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#lblIP{
    -fx-font: 18px "Helvetica Neue Normal";
    -fx-text-fill: #aaaaaa;
}

#lblPort{
    -fx-font: 18px "Helvetica Neue Normal";
    -fx-text-fill: #aaaaaa;
}

#joinProgressIndicator{
    -fx-progress-color: white;
}

.imageMapView{
    //-fx-effect: dropshadow(gaussian, #d7d7d7, 20, 0, 0, 0);
    //-fx-opacity: 0.8;
}

#mapTitle {
    -fx-font: 16px "Helvetica Neue Heavy";
    -fx-text-fill: #2a2a2a;
}