#startersList{
    -fx-control-inner-background: #2a2a2a;
    -fx-font-size: 17px;
    -fx-text-fill: White;
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0;
}

#startersOverlay{
    -fx-effect: dropshadow(three-pass-box, rgb(21, 54, 50), 50, 0, 0, 0);
}

#startersOverlayTitle {
    -fx-background-color: linear-gradient(#B9D9DA, #AAD2D2);
    -fx-font-size: 27px;
    -fx-text-fill: White;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

#clockLabel {
    -fx-background-color: linear-gradient(#AAD2D2, #91BDC0);
}